Red/Red.sln
Red/Red/bin/Debug/Red.exe.config
Red/Red/bin/Debug/Red.vshost.exe.config
Red/Red/bin/Debug/Red.vshost.exe.manifest
Red/Red/obj/Debug/Red.Properties.Resources.resources
Red/Red/obj/Debug/Red.csproj.FileListAbsolute.txt
Red/Red/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Red/Red/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Red/Red/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
